[Unit]
Description=PlayOS Compositor
After=local-fs.target systemd-udevd.service systemd-udev-trigger.service seatd.service
Wants=seatd.service
Before=playos-async.target

[Service]
Type=simple
User=playos
Group=playos
WorkingDirectory=/var/lib/playos

Environment=XDG_RUNTIME_DIR=/run/playos
Environment=PLAYOS_SHELL_CMD=/usr/bin/playos-shell

RuntimeDirectory=playos
RuntimeDirectoryMode=0755

ExecStart=/usr/bin/playos-compositor /usr/bin/playos-shell

Restart=always
RestartSec=1

Slice=playos-ui.slice
Nice=-10
CPUWeight=10000
IOWeight=10000
OOMScoreAdjust=-900
LimitMEMLOCK=infinity
LimitRTPRIO=20

[Install]
WantedBy=playos-visual.target
