[Unit]
Description=PlayOS Update Check
After=playos-compositor.service playos-network.service
PartOf=playos-async.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -lc 'echo "[PlayOS] update check placeholder"; sleep 5; exit 0'
Nice=15
CPUWeight=100
IOWeight=100
IOSchedulingClass=idle

[Install]
WantedBy=playos-async.target
